.search-box{
    margin: 16px 0;
    display: block;
    white-space: nowrap;
    text-align: center;
}

.search-form{
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.search-wrapper {border-radius: 20px;}

.search-input, .search-button{
    padding: 14px;
    border: none;
    background: var(--search-bg-color);
    outline: none;
}

.search-button{
    cursor: pointer;
}


@media screen and (max-width: 640px){

}

@media screen and (max-width: 480px){

}