
.left-sidebar{
    background-color: var(--primary-color);
    color: var(--title-color);
    height: 100vh;
    width: 100px;
    position: relative;
    transition: var(--tran-02);
}

.left-sidebar.active{
    width: 300px;
}

.sidebar-heading{
    display: flex;
    align-items: center;
}

.sidebar-heading__logo{
    width: 70px;
    height: 70px;
    margin-right: 16px
}

.sidebar-heading__title{
    font-weight: 700;
}

.sidebar-heading__title.hiding{
    display: none
}
 
.sidebar-button{
    cursor: pointer;
    border-radius: 22px;
    font-size: 42px;
    background-color: var(--toggle-color);
    color: var(--title-color);
    position: absolute;
    right: 0;
    margin: auto -10px;
}

.sidebar-button:hover{
    opacity: 0.9;
}

.sidebar-body{
    text-align: center;
}

.sidebar-category{
    display: inline-block;
    /* flex-direction: column; */
}

.sidebar-category__item{
    list-style-type: none;
}

.sidebar-category__item a{
    text-decoration: none;
    color: var(--toggle-color);
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-top: 12px;
    transition: var(--tran-02);
}

.sidebar-category__item a:hover{
    color: var(--title-color);
    background-color: var(--primary-color-light)
}

.sidebar-category__item h2{
    margin-left: 14px;
}

.sidebar-category__item h2 {
    font-size: 26px;
    font-weight: 500;
}

.sidebar-category__item svg{
    height: 32px;
    width: 32px;
    display: block;
    margin: 0 auto;
}

.sub-title-hiding {
    display: none
}