
.left-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    background-color: var(--primary-color);
    color: var(--title-color);
    height: 100vh;
    width: 100px;
    position: -webkit-sticky;
    position: sticky;
    transition: var(--tran-02);
}

.left-sidebar.active{
    width: 300px;
}

.sidebar-heading{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-heading__logo{
    width: 70px;
    height: 70px;
}

.sidebar-heading a {
    color: var(--title-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-heading a span {
    text-decoration: none;
    color: inherit;
}

.sidebar-heading a span {
    border-radius: 18px;
    transition: 0.2s;
}

.sidebar-heading a h1 {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit
}

.sidebar-heading a h1:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.sidebar-heading a h1:hover:after {
    transform: scaleX(1);
  transform-origin: bottom left;
}

.sidebar-heading span:hover {
    opacity: 1;
    background-color: var(--sidebar-color)
}

.sidebar-heading__title{
    font-size: 32px;
    margin-left: 6px;
    font-weight: 700
}

.sidebar-heading__title.hiding{
    display: none
}
 
.sidebar-button{
    cursor: pointer;
    border-radius: 22px;
    font-size: 28px;
    background-color: var(--sidebar-button);
    color: var(--sidebar-arrow);
    position: absolute;
    right: 0;
    margin: auto -18px;
}

.sidebar-button:hover{
    opacity: 0.9;
}

.sidebar-body{
    margin-bottom: calc(100%/3);
    text-align: center
}

.sidebar-category{
    display: inline-block;
    /* flex-direction: column; */
}

.sidebar-category__item{
    list-style-type: none;
}

.sidebar-category__item a{
    text-decoration: none;
    color: var(--toggle-color);
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-top: 12px;
    transition: var(--tran-02);
}

.sidebar-category__item a:hover{
    color: var(--title-color);
    background-color: var(--primary-color-light)
}

.sidebar-category__item h2{
    margin-left: 14px;
}

.sidebar-category__item h2 {
    font-size: 26px;
    font-weight: 500;
}

.sidebar-category__item svg{
    height: 32px;
    width: 32px;
    display: block;
    margin: 0 auto;
}

.sub-title-hiding {
    display: none
}

.dark-mode-btn{
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.dark-mode-text{
    margin-left: 6px;
    color: var(--title-color);
    display: none;
}

.dark-mode-text.active{
    display: block;
}

.dark-mode-holder{
    border-radius: 18px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: var(--tran-02);
}

.dark-mode-holder:hover{
    background: var(--sidebar-color);
}


/* BREAKPOINT */

@media screen and (max-width: 1366px){
    .sidebar-heading__logo{
        width: 50px;
        height: 50px;
    }
    
    .navbar-item{
        display: none
    }

    .sidebar-heading a h1{
        display: none
    }

    .left-sidebar, .left-sidebar.active{
        width: 100px;
    }

    .sidebar-button{
        display: none;
    }
}