.App {
    background: var(--body-color);
    display: flex;
    transition: var(--tran-03);
    justify-content: space-between;
}

@media screen and (max-width: 640px){
    .App{
        flex-direction: column;
    }
}