* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.content{
  margin: 20px 30px 0 30px;
  width: 100%
}

.content h2{
  color: var(--main-title);
  transition: 0.2s;
  font-size: 48px;
  margin: 20px 0;
  text-align: center
}

:root{
  /* Colors */
  --main-title: #9b5300;
  --body-color: #e4e9f7;
  --sidebar-color: #e2e2e2;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #0a0a0a;
  --text-color: #351717;
  --sub-text-color: #289712;
  --title-color: #161111;
  --pagination: #867ef3;
  --pagination-text: #252525;
  --sidebar-button: #dddddd;
  --sidebar-arrow: #695cfe;
  --episode-color: #0a0808;
  --search-bg-color: #f78e8e;
  --search-color: #292828;
  --episode-info: #08004d;
  --episode-info-bg: rgba(41, 40, 40, 0.3);
  --episode-sub-info: #580251;
  --episode-sub-info-bg: rgba(41, 40, 40, 0.1);
  --episode-description-bg: rgba(24, 24, 24, 0.4);
  --episode-description: #7e9400;

  /* Transitions */;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  /* Fade Effect */
}


[data-theme='dark']{
  --main-title: #ff8800;
  --body-color: #18191A;
  --sidebar-color: #e2e2e2;
  --primary-color: #3A3B3C;
  --primary-color-light: #f5f8fc;
  --toggle-color: #dddddd;
  --text-color: #9c5f0f;
  --sub-text-color: #922464;
  --title-color: #695cfe;
  --pagination: #867ef3;
  --pagination-text: #e2e2e2;
  --sidebar-button: #dddddd;
  --sidebar-arrow: #695cfe;
  --episode-color: #d8d8d8;
  --search-bg-color: #fdd4d4;
  --search-color: #af0a0a;
  --episode-info: #1c07dd;
  --episode-info-bg: rgba(248, 248, 248, 0.3);
  --episode-sub-info: #cf00be;
  --episode-sub-info-bg: rgba(248, 248, 248, 0.1);
  --episode-description-bg: rgba(104, 104, 104, 0.4);
  --episode-description: #bfe000;
}


/* SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--title-color); 
}

::-webkit-scrollbar-thumb {
  background: var(--main-title); 
}

::-webkit-scrollbar-thumb:hover {
  background: red 
}
/*  */

.holder-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.holder-item .item {
  margin: 28px 0;
  transition: 0.4s;
  width: 16.66%;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.holder-item .item:hover img{
  scale: 0.95;
  opacity: 0.8
}

.holder-item .item:hover h3{
  transition: 0.4s;
  scale: 1.05
}

.bottom-item{
  width: 85%;
}

.holder-item .item .bottom-item{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: auto
}

.holder-item .item .bottom-item h4:nth-child(1){
  padding: 6px;
  border-radius: 12px;
}

.holder-item .item .bottom-item h4:nth-child(2) {
  color: var(--toggle-color);
  padding: 6px;
  border-right: 2px solid rgb(163, 50, 50);
  border-bottom: 2px solid rgb(163, 50, 50);
}

.holder-item .item img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  transition: 0.3s;
}

.holder-item .item h3 {
  color: var(--text-color);
  cursor: pointer;
  display: -webkit-box;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 4px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2
}

.item-wrapper{
  height: 320px;
  text-decoration: none;
}

.item__tooltip-text {
  visibility: hidden;
}

.item-origin-name{
  color: var(--sub-text-color);
  cursor: pointer;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin: 0 auto;
  margin-top: 6px;
  font-weight: 500;
  font-size: 14px;
  width: 80%;
}

.holder-item .item h4 {
  font-size: 14px;
}

.pagination{
  margin-top: 40px;
}

.pagination ul {
  display: flex;
  list-style-type: none;
  justify-content: center
}

.pagination ul li {
  margin: 10px 4px 10px 4px 
}

.pagination ul li a {
  color: var(--pagination-text);
  font-size: 24px;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: var(--tran-03)
}

.pagination ul li a svg {
  color: var(--pagination-text)
}

.pagination ul li a:hover{
  background: var(--pagination)
}

.pagination ul li.selected a{
  opacity: 0.8;
  background: var(--pagination)
}

.pagination ul li a svg {
  position: relative;
  top: 50%;
  transform: translateY(-55%);
}

.page-count{
  display: none;
  color: var(--pagination-text);
  text-align: center
}

.pagination form{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}


.pagination form input[type=number]::-webkit-inner-spin-button, .pagination form input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          margin: 0;
}

.pagination form input[type=number]::-webkit-input-placeholder{
  color: var(--primary-color-light);
}

.pagination form input{
  color: var(--primary-color-light);
  background: var(--title-color);
  margin-right: 14px;
  padding: 4px;
  text-align: center;
  width: 10%;
  border: none
}

.pagination form button{
  cursor: pointer;
  color: var(--primary-color-light);
  background: var(--pagination);
  border: none;
  padding: 4px;
  border-radius: 4px;
  transition: var(--tran-03)
}

.pagination form button:hover{
  opacity: 0.8
}

/* BREAKPOINT FOR MAIN CONTENT */

@media screen and (max-width: 1600px) {
  .holder-item .item {
    width: 25%;
  }
}

@media screen and (max-width: 1366px) {
  .content{
    height: 100%;
    margin: 20px 0 0 0 
  }
}

@media screen and (min-width:1024px) and (max-width:1366px) {
  .content h2{
    font-size: 30px
  }
}

@media screen and (max-width: 1280px) {
  .pagination ul li{
    display: none
  }

  .pagination ul li.previous, .pagination ul li.next{
    display: list-item;
  }

  .page-count{
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .content h2{
    font-size: 28px;
  }
  .holder-item .item{
    width: 33.33%;
  }
}

@media screen and (max-width: 640px) {
  .content h2{
    font-size: 24px;
  }

  .holder-item .item{
    width: 50%;
  }

  .pagination ul li{
    display: none
  }

  .pagination ul li.previous, .pagination ul li.next{
    display: list-item;
  }
  
}

@media screen and (max-width: 320px) {
  .holder-item .item{
  width: 100%;}
  
}