* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-color);
  transition: var(--tran-05)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  margin: 20px 30px 0 30px;
  width: 100%
}

.content h2{
  transition: 0.2s;
  font-size: 48px;
  margin: 20px 0;
  text-align: center
}

:root{
  /* Colors */
  --body-color: #e4e9f7;
  --sidebar-color: #FFF;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #DDD;
  --text-color: #707070;
  --title-color: #161111

  /* Transitions */;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  /* Fade Effect */
}


[data-theme='dark']{
  --body-color: #18191A;
  --sidebar-color: #242526;
  --primary-color: #3A3B3C;
  --primary-color-light: #3A3B3C;
  --toggle-color: #FFF;
  --text-color: #CCC;
  --title-color: #695cfe
}

.holder-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.holder-item .item {
  margin: 28px;
  transition: 0.4s;
  width: 16.66%;
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.holder-item .item:hover img{
  opacity: 0.8
}

.holder-item .item:hover h3{
  transition: 0.4s;
  scale: 1.1
}

.holder-item .item h4{
  margin-top: auto;
  margin-bottom: 20px
}

.holder-item .item img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  display: block;
  width: 80%;
  height: 70%;
  margin: 0 auto;
  transition: 0.3s;
}

.holder-item .item h3 {
  cursor: pointer;
  display: -webkit-box;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 4px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2
}

.item__tooltip-text {
  visibility: hidden;
}

.holder-item .item h4 {
  font-size: 14px;
}



/* BREAKPOINT FOR MAIN CONTENT */

@media screen and (max-width: 1600px) {
  .holder-item .item {
    width: 25%;
  }
}

@media screen and (min-width:1024px) and (max-width:1366px) {
  .content h2{
    font-size: 30px;
  }
  .holder-item .item {
    width: 33.33%;
  }
}

@media screen and (max-width: 1024px) {
  .content h2{
    font-size: 28px;
  }
  .holder-item .item{
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .content h2{
    font-size: 24px;
  }
  .holder-item .item{
    width: 100%;
  }
}