.film-content {
    text-align: center;
}

.film-content h1{
    color: var(--main-title)
}

iframe{
    width: 100%;
    height: 60vh;
    border-radius: 10px;
}

.list-episode{
    color: var(--episode-color);
    margin-top: 20px;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    height: 26vh;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center
}

.list-episode li{
    cursor: pointer;
    transition: var(--tran-02);
}

.list-episode li p {
    margin: 4px;
    padding: 8px;
    border-radius: 12px;
    transition: var(--tran-02);
}

.list-episode li:hover p{
    background: var(--primary-color);
    opacity: 0.8
}

.list-episode li p {
    display: inline-block
}

.list-episode li.selected p{
    background: var(--sidebar-arrow)
}
