.film-content {
    text-align: center;
}

.film-content h2{
    color: var(--main-title)
}

.film-content h3{
    color: var(--search-color)
}

iframe{
    width: 100%;
    height: 60vh;
    border-radius: 10px;
}

.list-episode{
    text-align: center;
    color: var(--episode-color);
    margin-top: 20px;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    height: 26vh;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.list-episode li{
    transition: var(--tran-02);
}

.list-episode li p {
    cursor: pointer;
    margin: 12px;
    padding: 8px;
    border-radius: 12px;
    transition: var(--tran-02);
}

.list-episode li p:hover{
    background: var(--primary-color);
    opacity: 0.8
}

.list-episode li p {
    white-space: nowrap;
    display: inline-block
}

.list-episode li.selected p{
    background: var(--sidebar-arrow)
}

.film-loading{
    display: block;
    width: 100%;
    margin: 0 auto
}

@media screen and (min-width: 1024px) {
    .list-episode li {
        width: 200px;
    }
  }

@media screen and (max-width:1024px){
    .list-episode li{
        width: 50%;
    }
  }

@media screen and (max-width: 438px){
    .list-episode li{
        width: 100%;
    }
}